<h1>Session#signin</h1>
<p>Find me in app/views/login/login.html.erb</p>

<%= form_with url: '/signin' do |form| %>
    <%= form.label :username %>
    <%= form.text_field :username %>
    <br>
    <%= form.label :password %>
    <%= form.text_field :password %>
    <br>
    <%= form.submit "Signin" %>
<% end %>