<!DOCTYPE html>
<html>
  <head>
    <title>RailsLogin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if logged_in?%>
      Current user: <%= current_user.username %>
      <%= button_to 'Logout', login_path, method: :delete %>
    <% else %>
      <%= link_to 'Login', login_path, method: :get %>
    <% end %>
    <%= yield %>
  </body>
</html>
